<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="/user" th:action="@{/user}" method="POST" th:object="${userModel.user}">
        <input type="hidden" name="id" th:value="*{id}">
        名称:<br>
        <input type="text" name="username" th:value="*{username}">
        <br>
        年龄:<br>
        <input type="text" name="age" th:value="*{age}">
        <input type="submit" value="提交">
    </form>

<a href="/user">首页</a>
</body>
</html>